body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    height: 100vh;
    margin: 0;
}

#header {
    background-color: #96b8d6;
    padding: 20px;
    text-align: center;
    width: 100%;
}

#geuLogo {
    max-width: 100%; 
    max-height: 100%; 
    height: auto;
    width: auto; 
    margin-top: 20px; 
    margin-right: 20px;
    position: absolute;
    top: 0; 
    right: 0; 
    object-fit: contain; 
}

.theme-blue-gradient {
    background: linear-gradient(to bottom, #00c6ff, #0072ff);
    height: 100vh;
}

#login-full-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.white-box {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 0; 
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    display: inline-block; 
}

#login-box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 0; 
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    max-width: 350px;
    width: 100%;
    box-sizing: border-box; 
}

#login-box-inner {
    background-color: rgba(128, 128, 128, 0.35);
    padding: 20px;
    border-radius: 0; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-size: 12px; 
}

input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 0;
    box-sizing: border-box;
    font-size: 12px; 
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0; 
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 12px; 
}

#imgclient {
    display: block;
    margin: 0 auto;
}

#captchaBox {
    background-color: rgba(255, 255, 255, 1); 
    padding: 10px;         
    border: 2px solid #000;
    border-radius: 8px;     
    text-align: center;     
    width: fit-content;    
    margin: auto;           
}


#captchaContainer {
    background-color: #fff; 
    border: 1px solid #ddd;
    padding: 15px;        
    border-radius: 0;
    font-size: 12px;
    font-weight: bold; 
    margin-bottom: 10px;   
}

#captchaCode {
    background-color: #f9f9f9; 
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 0; 
    font-size: 12px; 
    font-weight: bold;
    margin-bottom: 10px; 
}

.captcha-box {
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 0; 
    display: inline-block;
}

.bubble {
    background-color: transparent; 
}
